<template>
  <div class="">
    <div class="ui comments questions-block" style="margin: 0 auto">
      <h3 class="ui dividing header">Comments</h3>
      <div class="comment ui" v-for="(question, index) in questions"
           :key="question.id"
           :style="{ 'background': question.user.role === 'instructor' ? '#f7f7f7' : '#eee' }">
        <a v-if="question.user.role === 'instructor'" class="ui teal right corner label">
          <i class="star icon"></i>
        </a>
        <span class="avatar">
          <i class="big icon" :class="`${question.user.role === 'instructor' ? 'user secret' : 'user'}`"></i>
        </span>
        <div class="content">
          <span class="author">{{ `${question.user.first_name} ${question.user.last_name}` }}</span>
          <a @click="openConfirmDeleteModal('question', question, null)"
             v-if="question.user_id === user.id"
             class="delete-icon">
            <i class="window red close icon"></i>
          </a>
          <div class="metadata">
            <span class="date">{{ question.created_at | moment('from') }}</span>
          </div>
          <div class="text">
            <vue-markdown :source="question.content"></vue-markdown>
          </div>
        </div>
        <div class="actions">
          <a class="reply" @click="toggleReply(index)">Reply</a>
        </div>
        <div class="comments ui" v-if="question.replies.length > 0">
          <div class="comment" v-for="reply in question.replies"
               :key="reply.id"
               :style="{ 'background': reply.user.role === 'instructor' ? '#f7f7f7' : '#eee' }">
            <a v-if="reply.user.role === 'instructor'" class="ui teal right corner label">
              <i class="star icon"></i>
            </a>
            <span class="avatar">
              <i class="big icon" :class="`${reply.user.role === 'instructor' ? 'user secret' : 'user'}`"></i>
            </span>
            <div class="content">
              <span class="author">{{ `${reply.user.first_name} ${reply.user.last_name}` }}</span>
              <a @click="openConfirmDeleteModal('reply', question, reply)"
                 v-if="reply.user_id === user.id"
                 class="delete-icon">
                <i class="window red close icon"></i>
              </a>
              <div class="metadata">
                <span class="date">{{ reply.created_at | moment('from') }}</span>
              </div>
              <div class="text">
                {{ reply.content }}
              </div>
            </div>
          </div>
        </div>
        <form class="ui reply form" v-if="questionsUiData[index].replyOpened">
          <div class="ui grid stackable" style="margin: 0">
            <input type="text" class="ten wide column" :id="`question-${index}`"
                   v-model="questionsUiData[index].replyContent">
            <div class="ui blue icon four wide column right floated button"
                 :class="{ 'disabled loading': questionsUiData[index].loading }"
                 @click="submitReply(index, question.id)">
              <i class="icon edit"></i> Submit
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="questions-block ui form" style="margin-top: 40px; z-index: 5">
      <div class="field">
        <mavon-editor language='en' v-model="questionContent"/>
      </div>
      <div class="ui bottom attached blue button"
           :class="{ 'disabled loading': loading }"
           @click="addQuestion()">
        Add Question
      </div>
    </div>
    <div class="ui basic modal" id="confirm-delete-modal">
      <div class="ui icon header">
        <i class="archive icon"></i>
        Delete {{ deletionType }}
      </div>
      <div class="content">
        <p>Are you sure you want to delete this {{ deletionType }} ?</p>
      </div>
      <div class="actions">
        <div class="ui red basic cancel inverted button">
          <i class="remove icon"></i>
          No
        </div>
        <div class="ui green inverted button"
             @click="confirmDeletion"
              :class="{ 'disabled loading': deletionLoading }">
          <i class="checkmark icon"></i>
          Yes
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import VueMarkdown from 'vue-markdown'
import Prism from '../../assets/prism/prism.js'

export default {
  props: ['questions', 'session'],
  watch: {
    'questions': {
      handler: function () {
        this.fillUiData()
      }
    }
  },
  components: {
    VueMarkdown
  },
  data () {
    return {
      questionsUiData: [],
      questionContent: '',
      loading: false,
      user: this.$auth.user(),
      deletionType: '',
      toBeDeleted: {
        question: null,
        reply: null
      },
      deletionLoading: false
    }
  },
  methods: {
    toggleReply (index) {
      this.questionsUiData[index].replyOpened = !this.questionsUiData[index].replyOpened
    },
    fillUiData () {
      this.questionsUiData = []
      this.questions.forEach(() => {
        this.questionsUiData.push(
          {
            replyOpened: false,
            loading: false,
            replyContent: ''
          }
        )
      })
    },
    submitReply (index, questionId) {
      if (!this.questionsUiData[index].replyContent) return
      let postData = {
        content: this.questionsUiData[index].replyContent,
        question_id: questionId,
        user_id: this.$auth.user().id
      }
      this.questionsUiData[index].loading = true
      this.$http.post('replies', postData).then(() => {
        this.questionsUiData[index].loading = false
        this.questionsUiData[index].replyContent = ''
        this.refetchQuestions()
      })
    },
    refetchQuestions () {
      this.$emit('refetchQuestions')
    },
    addQuestion () {
      if (!this.questionContent) return
      this.loading = true
      let postData = {
        title: 'dummy title',
        content: this.questionContent,
        session_id: this.session.id,
        user_id: this.$auth.user().id,
        track_id: this.session.track_id
      }
      this.$http.post(`tracks/${this.session.track_id}/questions`, postData).then(() => {
        this.loading = false
        this.questionContent = ''
        this.refetchQuestions()
      })
    },
    deleteQuestion (question) {
      this.$http.delete(`tracks/${this.session.track_id}/questions/${question.id}`).then(() => {
        for (let i = 0; i < this.questions.length; i++) {
          if (this.questions[i].id === question.id) {
            this.questions.splice(i, 1)
            break
          }
        }
        this.deletionLoading = false
        /* eslint-disable */
        $('#confirm-delete-modal').modal('hide')
      })
    },
    deleteReply (question, reply) {
      this.$http.delete(`tracks/${this.session.track_id}/questions/${question.id}/replies/${reply.id}`).then(() => {
        for (var i = 0; i < question.replies.length; i++) {
          if (question.replies[i].id === reply.id) {
            question.replies.splice(i, 1)
            break
          }
        }
        this.deletionLoading = false
        /* eslint-disable */
        $('#confirm-delete-modal').modal('hide')
      })
    },
    openConfirmDeleteModal (type, question, reply) {
      if (type === 'question') {
        this.deletionType = 'Question'
      } else if (type === 'reply') {
        this.deletionType = 'Reply'
      }
      this.toBeDeleted.question = question
      this.toBeDeleted.reply = reply
      /* eslint-disable */
      $('#confirm-delete-modal').modal('show')
    },
    confirmDeletion () {
      this.deletionLoading = true
      if (this.deletionType === 'Reply') {
        this.deleteReply(this.toBeDeleted.question, this.toBeDeleted.reply)
      } else {
        this.deleteQuestion(this.toBeDeleted.question)
      }
    }
  },
  created () {
    this.fillUiData()
  },
  mounted () {
    Prism.highlightAll()
    /* eslint-disable */
    $('#confirm-delete-modal').modal()
  },
  updated () {
    Prism.highlightAll()
  }
}
</script>

<style scoped>
  .container {
    width: 100% !important;
  }

  .add-reply-button {
    margin-top: 15px !important;
  }

  #question-reply {
    width: 100%;
    height: 100px;
  }

  .questions-block {
    max-width: 90%;
    margin: 40px auto 0 auto;
  }
  .delete-icon {
    float: right;
    cursor: pointer;
    margin-right: 5px;
  }
  .ui.comments .comment .text {
    margin-top: 1em;
  }

  .ui.comments .comment, .ui.comments.replies {
    position: relative;
    background: #f7f7f7;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15) !important;
    margin: 1rem 0 !important;
    padding: 1em 1em !important;
    border-radius: .28571429rem !important;
    border: 1px solid rgba(34,36,38,.15) !important;
  }
  .instructor-background {
    background: #eee !important;
  }
  .normal-background {
    background: #eee !important;
  }

  @media screen and (max-width: 600px) {
    .ui .text {
      margin-left: -3.4rem !important;
    }
  }
</style>
