<template>
  <div class="ui container">
    <div class="ui piled segment" v-if="session">
      <div class="body">
        <div >
          <h1 class="ui header">{{ session.title }}</h1>
          <div class="ui divider hidden"></div>
          <p class="space">{{ session.description }}</p>
          <div class="ui blue button btn-margin" @click="openResources(session.link)">
            <i class="link icon"></i> Resources
          </div>
          <questions @refetchQuestions="fetchQuestions($route.params.id)"
                     :questions="questions"
                     :session="session"></questions>
        </div>
      </div>
    </div>
    <div class="ui inverted dimmer" v-bind:class="{ active: !session }">
      <div class="ui text loader">Loading</div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    'questions': require('@/components/Sessions/Questions').default
  },
  data () {
    return {
      session: null,
      questions: []
    }
  },
  methods: {
    openResources (link) {
      window.open(link, '_blank')
    },
    fetchSession (id) {
      this.$http.get(`sessions/${id}`).then(response => {
        this.session = response.body.data
        this.fetchQuestions(id)
      })
    },
    fetchQuestions (id) {
      this.$http.get(`sessions/${id}/questions`).then(response => {
        this.questions = response.body.data
      })
    }
  },
  created () {
    this.fetchSession(this.$route.params.id)
  }
}
</script>

<style scoped>
  .body .ui.header h1 {
    text-align: center;
    font-weight: bold;
  }

  .body {
    padding: 30px;
    /*width: 70%;*/
  }

  .space {
    margin-bottom: 40px !important;
  }

  .btn-margin {
    margin-bottom: 20px !important;

  }
</style>
