<template>
  <router-link class="ui card" :to="{name: 'SessionDetails', params: {id: session.id}}">
    <div class="content">
      <div class="header">{{session.title}}</div>
      <div class="description">
        <p>{{ session.description }}</p>
      </div>
    </div>
    <div class="extra content">
      <div class="right floated author">
          <span v-if="session.questions.length > 0">
          <i class="comment icon"></i> {{ session.questions.length }} Questions
            </span>
        <a :href="session.link">
          <i class="link icon"></i> Resources
        </a>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  props: ['session']
}
</script>

<style scoped>

</style>
