<template>
  <div class="ui container main">
    <h4 class="ui header" style="text-align: center; font-size: 2.5rem">
      Sessions
      <i class="large file alternate icon"></i>
    </h4>
    <div class="ui red message" v-if="all_loaded && sessions.length === 0">No Sessions were found, Check again later.</div>
    <div class="ui piled clearing segment" v-if="sessions.length > 0">
      <div class="ui one cards">
        <session-card v-for="session in sessions" :key="session.id" :session="session" />
      </div>
      <div class="ui divider"></div>
      <button class="fluid ui teal button" @click="grab_more_sessions" v-if="!all_loaded">View More</button>
      <div class="ui inverted dimmer" v-bind:class="{ active: loading }">
        <div class="ui text loader">Loading</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    'session-card': require('@/components/Sessions/SessionCard').default
  },
  data () {
    return {
      sessions: [],
      track_id: null,
      page: 1,
      count: 4,
      all_loaded: false,
      loading: false
    }
  },
  created () {
    this.track_id = this.$auth.user().track_id
    this.grab_more_sessions()
  },
  methods: {
    grab_more_sessions: function () {
      this.loading = true
      this.$http.get(`tracks/${this.track_id}/sessions/page/${this.page}/count/${this.count}`).then(response => {
        if (response.body.data.length < this.count) {
          this.all_loaded = true
        }
        this.sessions = this.sessions.concat(response.body.data)
        this.page++
        this.loading = false
      })
    }
  }
}
</script>

<style scoped>

</style>
