<template>
  <div class="ui container">
    <div class="ui piled segment" v-if="assignment">
      <div class="body">
        <h1 class="ui header">{{ assignment.title }}</h1>
        <div class="ui divider hidden">
          <p class="space" style="display: block">{{ assignment.description }}
            <span v-if="!assignment.description">No description found.</span>
          </p>
        </div>
        <div class="ui divider hidden"></div>
        <div class="ui blue button buttons-margin" v-if="assignment.submissions.length !== 0"
             v-on:click="toggle_submissions">
          <i class="calendar check outline icon"></i>
          <span>Submissions</span>
        </div>
        <a class="ui button disabled buttons-margin" v-else>
          <i class="clock outline icon"></i>
          <span>Not Submitted</span>
        </a>
        <a class="ui teal button buttons-margin" @click="toggle_submit_form">
          <i class="arrow alternate circle up outline icon"></i>
          <span>Submit</span>
        </a>
        <a class="ui blue button buttons-margin" :href="assignment.link">
          <i class="link icon"></i> Link
        </a>
        <div class="ui divider hidden"></div>
        <div class="ui form" v-if="show_submit_form">
          <div class="field" v-bind:class="{ error: error_in_submission}">
            <input type="text" v-model="link" placeholder="Solution Link">
          </div>
          <div class="ui red message" v-if="error_in_submission">
            <p>Enter a valid URL.</p>
          </div>
          <div class="ui submit button" @click="submit_solution">Submit</div>
        </div>
      </div>

      <div class="ui one cards" :href="'/assignments/' + assignment.id + '/submit'"
           v-if="(assignment.submissions && show_submissions)">
        <submission-card v-for="submission in assignment.submissions.slice().reverse()" :key="submission.id"
                         :submission="submission"/>
      </div>

    </div>
    <div class="ui inverted dimmer" v-bind:class="{ active: !assignment }">
      <div class="ui text loader">Loading</div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    'submission-card': require('@/components/Submissions/SubmissionCard').default
  },
  data () {
    return {
      assignment: null,
      user: this.$auth.user(),
      show_submissions: false,
      show_submit_form: false,
      status: {
        gray: true,
        blue: false,
        message: 'Not Submitted'
      },
      link: null,
      error_in_submission: false
    }
  },
  created () {
    this.$http.get(`assignments/${this.$route.params.id}/user/${this.user.id}`).then(response => {
      this.assignment = response.body.data
    })
  },
  methods: {
    toggle_submissions: function () {
      this.show_submissions = !this.show_submissions
    },
    toggle_submit_form: function () {
      this.show_submit_form = !this.show_submit_form
    },
    toogle_submit: function () {
      this.status.gray = !this.status.gray
      this.status.blue = !this.status.blue
      if (this.status.message === 'Not Submitted') {
        this.status.message = 'Submit'
      } else {
        this.status.message = 'Not Submitted'
      }
    },
    is_valid_link: function (link) {
      var expression = /(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9]\.[^\s]{2,})/
      var regex = new RegExp(expression)

      return (link.match(regex))
    },
    submit_solution: function () {
      if (this.link && this.is_valid_link(this.link)) {
        let submission = {
          user_id: this.user.id,
          assignment_id: this.assignment.id,
          solution: this.link
        }
        this.assignment.submissions.push(submission)
        this.show_submit_form = false
        this.show_submissions = true
        this.$http.post('submissions', submission).then((response) => {
          this.error_in_submission = false
        })
      } else {
        this.error_in_submission = true
      }
    }
  }
}
</script>

<style scoped>
  .body {
    padding: 30px !important;
    /*width: 70% !important;*/
  }

  .space {
    margin-bottom: 40px !important;
  }

  .ui.button.disabled {
    color: black
  }
  .buttons-margin {
    margin: 10px;
  }
</style>
