<template>
  <router-link class="red card" :to="{name: 'AssignmentDetails', params: {id: assignment.id}}">
    <div class="content">
      <div class="header">{{ assignment.title }}</div>
      <div class="description">
        <p>{{ assignment.description }}</p>
      </div>
    </div>
    <div class="extra content">
      <div class="right floated author due-date">
        Due {{ assignment.deadline | moment('from') }}
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  props: ['assignment']
}
</script>

<style scoped>
  .due-date {
    font-weight: bold;
    color: #555;
    font-size: 1.4em;
  }
</style>
