<template>
  <div class="ui container main">
    <h4 class="ui header" style="text-align: center; font-size: 2.5rem">
      Assignments
      <i class="pencil icon"></i>
    </h4>
    <div class="ui red message" v-if="all_loaded && assignments.length === 0">No Assignments were found, Check again later.</div>
    <div class="ui piled clearing segment" v-if="assignments.length > 0">
      <div class="ui one cards">
        <!--<div v-if="assignments.length == 0">-->
          <!--<div class="ui basic center aligned segment">-->
            <!--<div class="ui positive floating icon message">-->
              <!--<i class="thumbs up outline icon"></i>-->
              <!--<div class="content">-->
                <!--<div class="header">-->
                  <!--There's no unfinished Assignments.-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <assignment-card v-for="assignment in assignments" :key="assignment.id" :assignment="assignment"/>
      </div>

      <div class="ui divider"></div>
      <!-- <div class="ui center aligned teal inverted segment">
        <a class="button">View More.</a>
      </div> -->
      <button class="fluid ui teal button" v-if="(assignments.length !== 0) && !all_loaded " v-on:click="grab_more_assignments">View More</button>
      <div class="ui inverted dimmer" v-bind:class="{ active: loading }">
        <div class="ui text loader">Loading</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    'assignment-card': require('@/components/Assignments/AssignmentCard')
      .default
  },
  data () {
    return {
      assignments: [],
      track_id: null,
      page: 1,
      count: 4,
      all_loaded: false,
      loading: false
    }
  },
  created () {
    this.track_id = this.$auth.user().track_id
    this.grab_more_assignments()
  },
  methods: {
    grab_more_assignments: function () {
      this.loading = true
      this.$http.get(`tracks/${this.track_id}/assignments/page/${this.page}/count/${this.count}`).then(response => {
        if (response.body.data.length < this.count) {
          this.all_loaded = true
        }
        this.assignments = this.assignments.concat(response.body.data)
        this.page++
        this.loading = false
      })
    }
  }
}
</script>

<style scoped>

</style>
