<template>
  <div class="ui card">
    <div class="content">
      <!--<div class="header"> Date: {{submission.date}}</div>-->
      <div class="meta">
        <span class="right floated time">Submitted {{submission.created_at | moment('from')}}</span>
      </div>
      <div class="description">
        <p>{{ submission.comments }}</p>
        <span v-if="!submission.grade">
          Your submission will be graded soon, Stay tuned!
        </span>
      </div>
    </div>
    <div class="extra content">
      <div class="right floated author">
        <a :href="submission.solution">
          <i class="link icon"></i> Solution
        </a>
      </div>
      <div class="left floated author">
        <span v-if="submission.grade">
          <i class="check icon"></i> Grade: "{{submission.grade}}"
        </span>
        <span v-else>
          <div class="ui label">
            <i class="eye slash outline icon"></i>Not Graded
          </div>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['submission']
}
</script>

<style scoped>

</style>
