<template lang="html">
  <div class="ui comments" style="max-width: 95%; margin: 0 auto">
  <h3 v-if="comments.length > 0" class="ui dividing header">Comments</h3>
  <div class="comment ui segment"
       v-for='comment in comments'
       :key='comment.id'
       :class="{ 'instructor-background': comment.user.role === 'instructor' }">
    <a v-if="comment.user.role === 'instructor'" class="ui teal right corner label">
      <i class="graduation cap icon"></i>
    </a>
    <a class="avatar">
      <i class="user big icon" :class="`${comment.user.role === 'instructor' ? 'user secret' : 'user'}`"></i>
    </a>
    <div class="content">
      <a class="author">{{ `${comment.user.first_name} ${comment.user.last_name}` }}</a>
      <div class="metadata">
        <span class="date">{{ comment.created_at | moment('from') }}</span>
      </div>
      <div class="text answer-text">
        <vue-markdown :source="comment.content"></vue-markdown>
      </div>
    </div>
  </div>
    <button v-on:click="showReply =! showReply" v-show="!showReply"
            class="ui right floated teal labeled submit icon button">
      <i class="icon edit"></i> Add Reply
    </button>
    <div v-if="showReply">
      <div class="content">
        <div class="ui form">
          <div class="field">
            <!-- <textarea placeholder="Reply...." rows='3' v-model="replyContent"></textarea> -->
            <mavon-editor language="en" v-model="replyContent"></mavon-editor>
          </div>
        </div>
      </div>
      <button v-on:click="reply"
              class="small teal right floated ui comments outline button"
              :class="{ 'loading disabled': loading }">
        <i class="edit icon"></i> Submit
      </button>
    </div>
  </div>
</template>

<script>
import VueMarkdown from 'vue-markdown'

export default {
  props: ['comments', 'question_id'],
  data () {
    return {
      showReply: false,
      replyContent: '',
      user: this.$auth.user(),
      loading: false
    }
  },
  components: {
    VueMarkdown
  },
  methods: {
    reply: function () {
      if (!this.replyContent) return
      this.loading = true
      let putData = {
        content: this.replyContent,
        user_id: this.user.id,
        question_id: this.question_id
      }
      this.$http.post(`tracks/${this.user.track_id}/questions/${this.question_id}/replies`,
        putData).then((response) => {
        /* eslint-disable */
        this.showReply = false
        this.loading = false
        this.replyContent = ''
        response.data.user = this.copyObject(this.$auth.user())
        this.$emit('addReply', response.data, this.question_id)
      })
    },
    copyObject (obj) {
      return JSON.parse(JSON.stringify(obj))
    }
  }
}
</script>

<style scoped>
  .ui.comments .comment {
    position: relative;
    background: #f7f7f7;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
  }
  .instructor-background {
    background: #eee !important;
  }
@media screen and (max-width: 600px) {
  .answer-text {
    margin-left: -3rem !important;
    margin-top: 0.5rem !important;
  }
}
</style>
