<template>
    <div class="fluid ui card" id="question_container" >
      <div id="question_label" class="ui teal top attached label">Ask away!</div>
      <br>
      <br>
      <div class="content">
        <a class="header">{{ `${user.first_name} ${user.last_name}` }}</a>
        <div class="description">
          <div class="content">
            <div class="ui form">
              <div class="field">
                <!-- <textarea placeholder="your question....." rows='3' v-model="content"></textarea> -->
                <mavon-editor language="en" v-model="content"></mavon-editor>
              </div>
            </div>
          </div>
        </div>
        <div class="extra">
          <button  v-on:click="post()"
                   style="margin: 10px 10px 0"
                   class="small right floated ui teal comments button"
                   :class="{ 'loading disabled': postingQuestion }">
            Submit
          </button>
        </div>
      </div>
    </div>
</template>
<script>
export default {
  data () {
    return {
      user: this.$auth.user(),
      content: '',
      postingQuestion: false
    }
  },
  methods: {
    post: function () {
      if (!this.content) return
      this.postingQuestion = true
      let postData = {
        title: 'dummy title',
        user_id: this.user.id,
        content: this.content
      }
      this.$http.post(`tracks/${this.user.track_id}/questions`, postData).then(function (data) {
        this.$emit('refetchData')
        this.postingQuestion = true
        this.content = ''
      })
    }
  }
}

</script>
<style scoped>
#question_label, #submit_btn{
    font-size: 1.2em
}
</style>
