<template>
  <div class="ui container">
    <div class="">
        <div class="ui red message" v-if="all_loaded && questions.length == 0">No questions were found, Check again later.</div>
      <h1 id="forum_title" class="ui header">
        Forum <i class="comments icon"></i>
      </h1>
      <button v-on:click="askState =! askState" id="ask_btn" class=" large fluid ui teal button">
        Ask a new question <i class=" question icon"></i>
      </button>
      <questionCard :user_id="user.id" v-if="askState" @refetchData="fetchNewQuestion"></questionCard>
      <br>
      <div class="ui piled clearing segment one cards">
        <div class="ui inverted dimmer" v-bind:class="{ 'active': loadingQuestions }">
          <div class="ui text loader">Loading</div>
        </div>
        <div v-for='entry in questions' :key='entry.id' class="ui card">
          <div class="content">
            <div class="header">{{ `${entry.user.first_name} ${entry.user.last_name}` }}</div>
            <div class="meta">
              <span class="time">{{ entry.created_at | moment('from') }}</span>
            </div>
            <!-- <div class="description"> -->
              <div>
              <!-- <p v-show="!entry.edit">{{ entry.content }}</p> -->
              <vue-markdown v-show="!entry.edit" :source="entry.content "></vue-markdown>
              <div class="ui form">
                <div class="field">
                  <!-- <textarea v-if="entry.edit" v-model="entry.updatedContent"></textarea> -->
                  <mavon-editor  v-if="entry.edit" language="en" v-model="entry.updatedContent"></mavon-editor>
                </div>
              </div>
            </div>
          </div>
          <div class="extra content">
            <div>
              <button
                v-on:click="entry.show_replies = !entry.show_replies"
                      class="small ui comments outline button">
                <i class="comment icon"></i> {{ entry.replies.length }} Replies
              </button>
              <button v-show="entry.allowEdit" v-on:click="entry.edit= !entry.edit" class="small ui comments outline button">
                <i class="edit icon"></i> Edit
              </button>
              <button v-show="entry.allowEdit && entry.edit"
                      v-on:click="updatePost(entry)"
                      class="small right ui comments outline button"
                      :class="{ 'loading disabled': entry.loading }">
                <i class="save icon"></i> Save
              </button>
            </div>
            <comments :question_id="entry.id"
                      v-if="entry.show_replies"
                      :comments="entry.replies"
                      @addReply="addReply"/>
          </div>
        </div>
        <div class="ui divider"></div>
        <button class="fluid ui teal button" @click="fetchQuestions" v-if="!all_loaded">View More</button>
      </div>
      <div id="noMoreQuestions_div" class="fluid ui red message" v-if="all_loaded && noMoreQuestions">No Questions were found</div>
    </div>
  </div>
</template>

<script>
import VueMarkdown from 'vue-markdown'
import Prism from '../../assets/prism/prism.js'

export default {
  data () {
    return {
      questions: [],
      askState: false,
      updatedPost: '',
      user: this.$auth.user(),
      loadingQuestions: false,
      all_loaded: false,
      count: 4,
      page: 1,
      noMoreQuestions: false
    }
  },
  components: {
    'questionCard': require('@/components/Forum/QuestionCard').default,
    'comments': require('@/components/Forum/Comments').default,
    VueMarkdown
  },
  created: function () {
    this.fetchQuestions()
  },
  methods: {
    fetchQuestions () {
      this.askState = false
      this.loadingQuestions = true
      this.$http.get(`tracks/${this.user.track_id}/questions/page/` + this.page + '/count/' + this.count).then(function (response) {
        if (response.body.data.length === 0) {
          this.noMoreQuestions = true
          setTimeout(() => {
            this.noMoreQuestions = false
          }, 3000)
        }
        if (response.body.data.length < this.count) {
          this.all_loaded = true
        }
        let body = response.body.data
        for (var i = 0; i < body.length; i++) {
          body[i].show_replies = false
          body[i].edit = false
          body[i].updatedContent = body[i].content
          body[i].loading = false
          if (this.user.id === body[i].user_id) {
            body[i].allowEdit = true
          } else {
            body[i].allowEdit = false
          }
        }
        this.questions = this.questions.concat(body)
        this.page++
        this.loadingQuestions = false
      })
    },
    fetchNewQuestion () {
      this.page = 1
      this.questions = []
      this.all_loaded = false
      this.fetchQuestions()
    },
    updatePost: function (item) {
      if (item.updatedContent === item.content) return
      item.loading = true
      let putData = {
        content: item.updatedContent
      }
      this.$http.put(`tracks/${this.user.track_id}/questions/${item.id}`, putData).then(() => {
        // this.fetchQuestions()
        item.content = item.updatedContent
        item.loading = false
        item.edit = false
      })
    },
    addReply (reply, questionId) {
      let question = this.questions.find(question => question.id === questionId)
      question.replies.push(reply)
    }
  },
  mounted () {
    Prism.highlightAll()
  },
  updated () {
    Prism.highlightAll()
  }
}
</script>

<style scoped>
#noMoreQuestions_div{
    text-align: center;
}
#ask_btn {
  font-size:1.5em;
}
#forum_title {
  font-size: 3em;
  color: black;
  text-align: center;
}
</style>
