<template>
    <div>
        <h4 class="ui header">
          <i class="large icons">
            <hr> <h1 id = "Forum_title"> Forum <i class="comments icon"></i>  </h1> <hr>
          </i>
        </h4>
      <div class="ui one cards">
        <a class="ui card" href="#">
          <div class="content">
            <div class="header">{{ entry.title }}</div>
            <div class="meta">
              <span class="right floated time">45</span>
              <span class="category">By: {{entry.userId}}</span>
            </div>
            <div class="description">
              <p v-show="!entry.edit">{{entry.body}}</p>
              <div class="ui form">
              <div class="field">
              <textarea v-show="entry.edit" v-model="updatedPost" v-default-value="entry.body"></textarea>
              </div>
              </div>
            </div>
          </div>

          <div class="extra content">
            <div >
                <button v-on:click="entry.show_replies= !entry.show_replies" class="small ui comments outline button">
              <i class="comment icon"></i> {{count}} replies
          </button>
          <button v-show="entry.allow_edit" v-on:click="entry.edit= !entry.edit" class="small ui comments outline button">
        <i class="edit icon"></i> Edit
    </button>
    <button v-show="entry.allow_edit && entry.edit" v-on:click="updatePost(entry)" class="small ui comments outline button">
  <i class="save icon"></i> Save
</button>
            </div>
            <comments v-on:repliesNo="updateNumber($event)" v-bind:user_id = "user_id" :question_id = "id" v-show="entry.show_replies"></comments>
          </div>
        </a>
      </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      user_id: '1',
      id: this.$route.params.id,
      entry: {},
      count: '',
      updatedPost: ''
    }
  },
  created: function () {
    this.$http.get('https://jsonplaceholder.typicode.com/posts/' + this.id).then(function (data) {
      var temp = data.body
      temp.show_replies = false
      temp.edit = false
      if (this.user_id === temp.userId) {
        temp.allow_edit = true
      }
      this.entry = temp
    })
  },
  methods: {
    updateNumber: function (updatedNumber) {
      this.count = updatedNumber
    },
    updatePost: function (item) {
      this.$http.patch('https://jsonplaceholder.typicode.com/posts/' + item.id, {
        body: this.updatedPost
      }).then(function (data) {
        item.edit = false
      })
    }
  },
  components: {
    'comments': require('@/components/Forum/Comments').default
  }
}
</script>
