<template>
<div class="ui basic segment" v-if="announcements.length">
  <h2 class="ui header">
    <i class="large icons">
      <i class="bullhorn icon"></i>
    </i>
    Announcements
  </h2>
  <div class="ui large feed">
    <div v-for='announcement in announcements' :key='announcement.id'
      :class="((announcement.type === 'urgent') ? 'urgent' : '') + ' event'">
      <div class="label">
        <i :class="icon_type_map['session'] + ' icon'"></i>
      </div>
      <div class="content">
        <div class="summary">
          {{ announcement.content }}
          <div class="date">{{ announcement.date }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

</template>

<script>
export default {
  data () {
    return {
      announcements: [],
      icon_type_map: {
        session: 'file alternate',
        assignment: 'pencil',
        urgent: 'bell outline',
        info: 'info'
      }
    }
  },
  beforeCreate () {
    let trackId = this.$auth.user().track_id
    this.$http.get(`tracks/${trackId}/announcements/page/1/count/7`).then(response => {
      this.announcements = response.body.data
    })
  }
}
</script>

<style scoped>
  .urgent {
    background-color: #FF6666 !important;
    border-radius: 5px;
  }

  .urgent i{
    color: white !important;
  }

  .ui.feed > .urgent > .content .summary{
    color: white !important;
  }
</style>
