<template>
  <div class="ui piled clearing segment" >
    <h4 class="ui header">
      <i class="large icons">
        <i class="pencil icon"></i>
      </i>
      Assignments
    </h4>
    <div class="ui one cards">
      <!--<div v-if="assignments.length == 0">-->
        <!--<div class="ui basic center aligned segment">-->
          <!--<div class="ui positive floating icon message">-->
            <!--<i class="thumbs up outline icon"></i>-->
            <!--<div class="content">-->
              <!--<div class="header">-->
                <!--There's no unfinished Assignments.-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <assignment-card v-for="assignment in assignments" :key="assignment.id" :assignment="assignment"/>
    </div>

    <div class="ui divider"></div>
    <!-- <div class="ui center aligned teal inverted segment">
      <a class="button">View More.</a>
    </div> -->
    <router-link class="fluid ui teal button" :to="{ name: 'Assignments'}">View More</router-link>
    <div class="ui inverted dimmer" v-bind:class="{ active: loading }">
      <div class="ui text loader">Loading</div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    'assignment-card': require('@/components/Assignments/AssignmentCard').default
  },
  data () {
    return {
      assignments: [],
      loading: true
    }
  },
  mounted () {
    let trackId = this.$auth.user().track_id
    this.$http.get(`tracks/${trackId}/assignments/page/1/count/2`).then(response => {
      this.assignments = response.body.data
      this.loading = false
    })
  }
}
</script>

<style scoped>

</style>
