<template>
  <div class="ui piled clearing segment" v-if="entries.length">
    <h4 class="ui header">
      <i class="large icons">
        <i class="comments icon"></i>
      </i>
      Forum
    </h4>
    <div class="ui one cards">
      <router-link :to="{ name: 'Forum' }"
                   v-for='entry in entries' :key='entry.id' class="ui card">
        <div class="content">
          <div class="header">{{ entry.user.first_name + ' ' + entry.user.last_name }}</div>
          <div class="meta">
            <span class="time">{{ entry.created_at | moment('from')}}</span>
          </div>
          <div class="description">
            <p>{{ entry.content }}</p>
          </div>
        </div>
        <div class="extra content" v-if="entry.replies.length > 0">
          <div class="right floated author">
            <i class="comment icon"></i> {{ entry.replies.length }} replies
          </div>
        </div>
      </router-link>
    </div>

    <div class="ui divider"></div>
    <!-- <div class="ui center aligned teal inverted segment">
      <a class="button">View More.</a>
    </div> -->
    <router-link :to="{ name: 'Forum' }" class="fluid ui teal button">
      View More
    </router-link>
    <div class="ui inverted dimmer" v-bind:class="{ 'active': loading }">
      <div class="ui text loader">Loading</div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      entries: [],
      loading: true
    }
  },
  mounted () {
    this.loading = true
    let trackId = this.$auth.user().track_id
    this.$http.get(`tracks/${trackId}/questions/page/1/count/2`).then(response => {
      this.entries = response.body.data
      this.entries.forEach(function (entry) {
        if (entry.content.length > 100) {
          entry.content = entry.content.substring(0, 100) + '...'
        }
      })
      this.loading = false
    })
  }
}
</script>

<style scoped>

</style>
