<template>
  <div class="ui container">
    <div class="ui two column stackable grid">

      <div class="ten wide column">
        <div class="ui success message transition" v-if="fromLogin">
          <i class="close icon" @click="fromLogin = false"></i>
          <div class="header">
            Welcome, {{ user.first_name}}
          </div>
        </div>
        <announcements></announcements>
      </div>
      <div class="six wide column">
        <forum/>
      </div>

      <div class="column">
        <sessions/>
      </div>
      <div class="column">
        <assignments/>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  components: {
    'announcements': require('@/components/Home/Announcement').default,
    'forum': require('@/components/Home/Forum').default,
    'sessions': require('@/components/Home/Sessions').default,
    'assignments': require('@/components/Home/Assignments').default

  },
  data () {
    return {
      fromLogin: false,
      user: this.$auth.user()
    }
  },
  mounted () {
    this.fromLogin = this.$route.params.fromLogin
  }
}
</script>

<style scoped>
  body {
    background-color: #FFFFFF;
  }

  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }

  .main.container {
    margin-top: 7em;
  }

  .wireframe {
    margin-top: 2em;
  }

  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }

  .logo {
    width: 100%;
    height: 100%;
  }

  .header {
    background-image: url();
  }

</style>
