<template>
  <div class="ui piled clearing segment">
    <h4 class="ui header">
      <i class="large icons">
        <i class="file alternate icon"></i>
      </i>
      Sessions
    </h4>
    <div class="ui one cards">
      <session-card v-for="session in sessions" :key="session.id" :session="session" />
    </div>

    <div class="ui divider"></div>
    <!-- <div class="ui center aligned teal inverted segment">
      <a class="button">View More.</a>
    </div> -->
    <router-link class="fluid ui teal button" :to="{ name: 'Sessions'}">View More</router-link>
    <div class="ui inverted dimmer" v-bind:class="{ active: loading }">
      <div class="ui text loader">Loading</div>
    </div>
  </div>

</template>

<script>
export default {
  components: {
    'session-card': require('@/components/Sessions/SessionCard').default
  },
  data () {
    return {
      sessions: [],
      loading: true
    }
  },
  mounted () {
    let trackId = this.$auth.user().track_id
    this.$http.get(`tracks/${trackId}/sessions/page/1/count/2`).then(response => {
      this.sessions = response.body.data
      this.loading = false
    })
  }
}
</script>

<style scoped>

</style>
