<template>
  <div @keyup.enter="signIn">
    <div class="fullscreen-video-wrap">
      <video muted autoplay loop src="../../assets/videos/protons.mp4"></video>
    </div>
    <div class="header-overlay"></div>
    <div id="login-center" class="ui middle aligned center aligned grid">
      <div class="column">
        <img src="../../assets/protons-logo.png" class="header-logo image">
        <div class="ui hidden divider"></div>
        <form id='login-form' class="ui large form">
          <div class="ui stacked  segment">

            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input v-model='email' type="text" name="email" placeholder="E-mail address">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input v-model='password' type="password" name="password" placeholder="Password">
              </div>
              <div class="ui red message" v-if="loginErrors.length > 0"><span v-for="error in loginErrors" :key="error">{{error}}<br/></span>
              </div>
            </div>
            <div @click='signIn'  class="ui fluid large blue submit button">Login</div>
          </div>
        </form>
      </div>
    </div>
    <div class="ui dimmer" v-bind:class="{active: loading}">
      <div class="ui loader"></div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      email: '',
      password: '',
      loginErrors: [],
      loading: false
    }
  },
  methods: {
    signIn: function () {
      this.loading = true
      let self = this

      let loginData = {
        email: this.email,
        password: this.password
      }

      this.$auth.login({
        params: loginData,
        rememberMe: true,
        fetchUser: true,
        error: function (error) {
          self.loginErrors = error.body.errors
          self.loading = false
        }
      }).then(function () {
        self.loading = false
      })
    }
  }
}
</script>

<style scoped>
  body {
    background-color: #DADADA;
  }

  body > .grid {
    height: 100%;
  }

  .image {
    margin-top: -100px;
  }

  .column {
    max-width: 450px;
  }

  #login-center {
    height: 100vh;
    background-color: #2f77ed;
  }

  .fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .fullscreen-video-wrap video {
    min-height: 100%;
    min-width: 100%;
  }

  .header-overlay {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    /* z-index:1; */
    background-color: #2964c4;
    opacity: 0.8;
  }

  .header-logo {
    width: 20rem;
  }

  @media (max-width: 767px) {
    .fullscreen-video-wrap {
      display: none;
    }
  }
</style>
