<template>
  <div class="full-height">
    <div v-if="inLoginPage" id="app">
      <router-view/>
    </div>
    <div class="full-height" v-else>
      <div id="hamburger"
           @click="sidebarOpened =! sidebarOpened"
           :class="{ 'open': sidebarOpened }">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="ui left vertical inverted labeled icon sidebar overlay menu visible"
           :class="{ 'hidden-sidebar': smallScreen && !sidebarOpened }">
        <a class="item" @click="goTo('Home')">
          <i class="large home icon"></i> Home
          <!-- Home -->
        </a>
        <a class="item" @click="goTo('Sessions')">
          <i class="large file alternate icon"></i> Sessions
          <!-- Sessions -->
        </a>
        <a class="item" @click="goTo('Assignments')">
          <i class="large pencil alternate icon"></i> Assignments
          <!-- Tasks -->
        </a>
        <a class="item" @click="goTo('Forum')">
          <i class="large comment alternate icon"></i> Forum
        </a>

        <a @click='logout' class="item">
          <i class="large sign out alternate icon"></i> Logout
          <!-- Logout -->
        </a>
      </div>

      <div class="full-height flex-container">
        <div>
          <div :class="'ui track-header center aligned segment ' + className"
               style="margin-top: 0">
            <div class="ui text container center">
              <img class="header-logo" src="./assets/protons-logo.png"/>
              <!-- <h1>Programming Track</h1> -->
            </div>
          </div>
          <div :class="'ui sub-track-header center aligned segment ' + className">
            <h3> {{ trackName }}</h3>
            <!-- <div class="ui breadcrumb" v-if="$breadcrumbs.length">
              <router-link class="section" v-for="(crumb, key) in $breadcrumbs" :
              to="linkProp(crumb)" :key="key">{{ crumb | crumbText }}</router-link>
            </div> -->
          </div>
          <div class="ui hidden divider"></div>
          <div class="ui grid" style="margin: 0">
            <div :class="` ${smallScreen ? 'sexteen' : 'twelve'} wide centered column`">
              <router-view/>
            </div>
          </div>
          <div class="ui hidden divider"></div>
          <div class="ui hidden divider"></div>
        </div>
        <div class="ui inverted center aligned vertical footer segment">
          <i class="copyright icon"></i>
          IEEE AlexSB Software Development Committee
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  computed: {
    inLoginPage: function () {
      return this.$route.name === 'Login'
    },
    trackName: function () {
      if (this.$auth.user().track_id) {
        return this.tracks[this.$auth.user().track_id].title
      } else {
        return ''
      }
    },
    className () {
      if (this.$auth.user().track_id) {
        return this.tracks[this.$auth.user().track_id].class
      } else {
        return ''
      }
    },
    smallScreen () {
      return window.innerWidth < 800
    }
  },
  methods: {
    logout: function () {
      this.$auth.logout()
    },
    goTo (name) {
      this.$router.push({ name: name })
      this.sidebarOpened = false
    }
  },
  data: function () {
    return {
      sidebarOpened: false,
      tracks: {
        1: {
          class: 'prog',
          title: 'Programming Track'
        },
        2: {
          class: 'iot',
          title: 'IoT Track'
        },
        3: {
          class: 'robotics',
          title: 'Robotics Track'
        }
      }
    }
  }
}
</script>

<style>

  @font-face {
    font-family: arc;
    src: local('arc'), url("./assets/fonts/Arciform.otf") format('opentype');
  }
  .track-header {
    border-radius: 0 !important;
    /*background-color: #B3E545 !important;*/
    /*background: linear-gradient(#B3E545, #a0ce39) !important;*/
    /* background-image: url('./assets/images/tp-3.png') !important; */
    background-attachment: fixed !important;
    background-repeat: repeat-y;
    margin-bottom: 0 !important;
    animation: headerAnim 20s infinite linear forwards;
  }
  @keyframes headerAnim {
    0% {
      background-position-y: 0;
    }
    100% {
      background-position-y: 600px;
    }
  }
  .track-header.prog {
    background-image: url('./assets/images/prog.png') !important;
  }

  .track-header.iot {
    background-image: url('./assets/images/iot.png') !important;
  }

  .track-header.robotics {
    background-image: url('./assets/images/robotics.png') !important;
  }

  .track-header h1 {
    /* font-family: arc, Arial, Helvetica, sans-serif !important; */
    color: white !important;
    text-shadow: black 0.3px 0.5px;
    /* text-transform: uppercase !important; */
    font-weight: 300;
    font-family: arc, Arial, Helvetica, sans-serif !important;
  }
  .track-header .ui.header {
    color: white;
    /* text-transform: uppercase; */
    font-size: 3rem;
    font-weight: 300;
    font-family: arc;
  }
  .main {
    min-height: 40rem;
  }

  .sub-track-header {
    border-radius: 0 !important;
    margin-top: 0 !important;
    /* background-image: url('./assets/images/memphis-colorful.png') !important; */
    color: white !important;
    text-transform: uppercase;
  }

  .sub-track-header.prog {
    background-color: #2C637B !important;
  }

  .sub-track-header.iot {
    background-color: #3E0091 !important;
  }

  .sub-track-header.robotics {
    background-color: #008A32 !important;
  }

  .container.main{
    min-height:40rem;
  }
  .full-height {
    height: 100%;
  }
  #app {
    height: 100vh;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header-logo {
    width: 20rem;
  }

  .ui.sidebar.hidden-sidebar {
    transform: translateX(-100%) !important;
  }
  #hamburger {
    padding: 5px;
    position: fixed;
    top: 5px;
    left: 10px;
    z-index: 10;
    transition: .5s ease;
  }
  #hamburger.open {
    transform: translateX(110px);
  }
  #hamburger span {
    width: 30px;
    height: 4px;
    background: #000;
    display: block;
    margin: 5px;
    border-radius: 10px;
    transition: .5s ease;
  }
  #hamburger.open span:first-child {
    transform: rotate(45deg) translateY(12px);
  }
  #hamburger.open span:last-child {
    transform: rotate(-45deg) translateY(-13px);
  }
  #hamburger.open span:nth-child(2){
    opacity: 0;
  }
</style>
